<header>
	<div class="container">
		<p>First Astro.</p>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
		</nav>
	</div>
</header>

<style>
	header {
		padding: 1rem 0;
		position: fixed;
		width: 100%;
	}

	div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	p {
		font-family: var(--font-display);
		color: var(--color-gold);
		letter-spacing: 1.5px;
		font-size: 1.2rem;
	}

	nav {
		display: flex;
		gap: 1rem;
	}

	a:hover {
		color: var(--color-gold);
	}
</style>
