<header class="app-header container">
	<h1>First Astro</h1>
	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
	</nav>
</header>

<style>
	h1 {
		font-family: var(--font-display);
	}

	.app-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.app-header nav {
		display: flex;
		gap: 1rem;
	}
</style>
